<h1>New division</h1>

<% if @division.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @division.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @division do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit  %>
<% end %>
