<h1>Edit project</h1>

<%= form_for @project do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<% if @employees.any? %>
<label for="employee">Select a employee</label>
<select class="form-control" name="employee_id">
  <% @employees.each do |employee| %>
  <option value="<%= employee.id %>"><%= employee.name %></option>
  <% end %>
</select>
<% else %>
<p>No employees available.</p>
<% end %>

<p><%= f.submit  %></p>
<% end %>
