<h1><%= @project.name %></h1>

<p><%= link_to "Edit this project", edit_project_path(@project) %></p>
<p><%= link_to "Delete this project", project_path(@project),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to project list", projects_path %></p>
<p><%= link_to "Return to division list", divisions_path %></p>

<h3>Current Employees</h3>
<% if @employees.any? %>
  <ul>
    <% @employees.each do |employee| %>
      <li><%= link_to employee.name, division_employee_path(division_id: employee.division_id, id: employee.id) %>
      <%= link_to "Delete", employee_project_path(id: @project.id, employee_id: employee.id), method: :delete %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no employees yet.</p>
<% end %>
